[submodule "src/game/LuaEngine"]
	path = src/game/LuaEngine
	url = https://github.com/ElunaLuaEngine/Eluna.git
[submodule "src/game/playerbots"]
	path = src/game/playerbots
	url = https://github.com/cmangos/playerbots.git
