[submodule "src/game/LuaEngine"]
	path = src/game/LuaEngine
	url = https://github.com/ElunaLuaEngine/Eluna.git
[submodule "src/modules/PlayerBots"]
	path = src/modules/PlayerBots
	url = https://github.com/cmangos/playerbots.git
